<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col d-flex justify-content-center m-4">
				<h1 th:text=" ${ pizza.name } "></h1>
				<h3>
					[[ ${pizza.description}]] - [[ ${pizza.price} ]]€
				</h3>
				<img width="200px" th:src="${ pizza.img }">
			</div>
			<a href="#">Aggiungi una nuova offerta speciale</a>
			<h5 th:if="${discounts.isEmpty()}">Nessuna offerta per questa pizza</h5>
			<h5 th:unless="${discounts.isEmpty()}">Offerte speciali:</h5>
			<div th:each="discount : ${discounts}" th:object="${discount}">
				<p>[[ *{title} ]] - [[ *{rate} ]]%</p>
			</div>
		</div>
	</div>
</body>
</html>